amqp==2.2.2
baidu-aip==2.2.0.0
billiard==3.5.0.3
gevent==1.2.2
celery==4.0.2
certifi==2018.1.18
chardet==3.0.4
Django==1.8.3
elasticsearch==6.2.0
idna==2.6
kombu==4.1.0
Naked==0.1.31
numpy==1.14.2
opencv-python==3.4.0.12
Pillow==5.0.0
pycryptodome==3.5.1
PyMySQL==0.8.0
pytesseract==0.2.0
pytz==2018.4
PyYAML==3.12
qiniu==7.2.0
requests==2.18.4
shellescape==3.4.1
urllib3==1.22
vine==1.1.4
xmltodict==0.11.0
django-ratelimit==1.1.0
pyrabbit==1.1.0
django-redis==3.8.3
mongoengine==0.15.0
pymongo==3.6.1
pyzbar==0.1.7
pylibmc==1.5.2
pdfkit==0.6.1
gunicorn==19.8.1
